Flask==2.0.1
Werkzeug==2.0.1
Flask-SocketIO==5.3.6
python-engineio==4.8.0
python-socketio==5.10.0
yt-dlp==2023.12.30
requests==2.31.0
urllib3==2.0.7
APScheduler==3.9.1
gunicorn==20.1.0
eventlet==0.30.2
click==7.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
six==1.16.0