Flask
Flask-SocketIO
Flask-CORS
requests
yt-dlp
APScheduler
python-engineio
python-socketio
Werkzeug
python-dateutil
six
urllib3
certifi
charset-normalizer
idna
click
itsdangerous
Jinja2
MarkupSafe
tzlocal
pytz
eventlet
gevent
gevent-websocket
glob2
